$white: #fff;
$black: #000;
$fontColor: #363636;

$gray: #ddd;
$dark_grey: #767676;

$primaryFont: "Montserrat", sans-serif;
$primaryColor: #1a374d;
$secondaryColor: #406882;
$thirdColor: #6998ab;
$fourthColor: #b1d0e0;
