
.navbar-main {
  .navbar-brand {
    img {
      width: 150px;
    }
  }

  .navbar-nav {
    .nav {
      &-item {
        padding: 0 15px;
        text-align: center;
        .nav-link {
          color: $fontColor;
        }
      }

      &-button {
        border-radius: 5px;
      }
    }
  }

  .filled {
    background-color: $primaryColor;
    color: $white !important;
    
  }

  .bordered {
    border: 1px solid $primaryColor;
  }
}
